<div class ="form">
  <h1 class="form-title">パスワードを忘れた方へ</h1>
  <%= form_with(url: password_resets_path, scope: :password_reset,
                    local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form_control' %>

      <%= f.submit "Submit", class: "form_btn" %>
    <% end %>
</div>
