<h1>MY blog</h1>

<p>こんにちは！<%= @user.name %>,</p>

<p>
MY blogへようこそ！以下のリンクをクリックして、アカウントをアクティブ化してください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                
