<h1>MY blog</h1>

<p>こんにちは！<%= @user.name %>,</p>

<p>
MY blogへようこそ！以下のリンクをクリックして、パスワードをリセットしてください。
</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>