// ここからheader
 .header{
   height: 200px;
   background-color: skyblue;
 }

 .container{
   height: calc(100vh - 400px);
   text-align: center;
 }


// ここからfooter
.footer{
  height: 200px;
  background-color: slateblue;
}

// ここからform
.form{
  width:400px;
  margin: 0 auto;
  &_control{
    display: block;
    width: 100%;
    font-size: 24px;
  }
  &_btn{
    display: block;
    width: 100%;
    font-size: 24px;
    margin-top: 30px;
  }
}