<footer class="footer">
  <div class="footer-top">
    <ul>
      <div class="footer-top-title">
        <li>MY BLOGについて<li>
      </div>
      <div class="footer-top-content">
        <li>お知らせ<li>
        <li>お問い合わせ<li>
        <li>紹介</li>
      </div>
    </ul>
    <ul>
      <div class="footer-top-title">
        <li>MY BLOGを見る<li>
      </div>
      <div class="footer-top-content">
        <li>カテゴリー一覧<li>
        <li>おすすめ一覧<li>
        <li>急上昇一覧</li>
      </div>
    </ul>
    <ul>
      <div class="footer-top-title">
        <li>MY BLOG リンク<li>
      </div>
      <div class="footer-top-content">
        <li>Facebook<li>
        <li>Twitter<li>
        <li>Note</li>
      </div>
    </ul>
    

  </div>
  <div class="footer-bottom">
    <p><%= image_tag('NW_055.jpg',alt:'logo',width:'25px')%><p>
    <p class="footer-bottom-content">MY BLOG</p>
  </div>
</footer>